.container {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
  img {
    height: 6rem;
    width:112px;
    margin: 0.5rem;
  }
}
.inner-container {
  background-color: rgb(139, 139, 139);
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.inner-container::hover{
  background-color: rgb(59, 59, 59);
}
@media screen and (max-width: 640px) {
  .container {
    width: fit-content;
    height: fit-content;
    img{
      height: 4rem;
      width:80px;
      padding: 0;
    }
  }
}
  

